// .product__status {
//   display: flex;
//   align-items: center;

//   .preview {
//     color: #2a289d;
//     margin-right: 5px;
//   }
// .active {
//   color: #65923c;
//   margin-right: 5px;
// }
// .last-time {
//   color: #dd5c1b;
//   margin-right: 5px;
// }
// .nrnd {
//   color: #aa2220;
//   margin-right: 5px;
// }
// .obsolete {
//   color: #aa2220;
//   margin-right: 5px;
// }

//   .active {
//     color: #2a289d;
//     margin-left: 20px;
//     margin-right: 5px;
//   }
// }

// .notice-list strong:first-child::before {
//   content: "";
//   position: absolute;
//   top: 5px;
//   left: 0;
//   background: url(https://i.ibb.co/qDKXvhD/Vector.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 20px;
//   width: 20px;
// }

// .notice-list strong {
//   margin-left: 30px;
// }

// .notice-list strong:first-child::before {
//   content: "";
//   position: absolute;
//   top: 10px;
//   left: 15px;
//   background: url(https://i.ibb.co/qDKXvhD/Vector.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 20px;
//   width: 20px;
// }

// .readMore {
//   all: inherit;
//   border: none;
//   color: #2a289d;
//   padding: 0;
//   display: inline-flex;
//   align-items: center;
//   line-height: 36px;
//   font-size: 16px;
//   text-transform: uppercase;
//   cursor: pointer;
//   font-weight: bold;
//   transition: color 200ms ease-out;
//   outline: none;
// }

// .readMore:hover{
//   color: #4ba3d3;
// }

// .readMore .expand {
//   margin-right: 5px;
//   padding: 0;
//   font-size: 30px;
//   transition: all 200ms ease-out;
// }

// .readMore .expanded {
//   transform: rotate(
// 180deg);
// }

// <button class="readMore">
//   <span class="material-icons expand">
//     expand_more
//   </span>Read More
// </button>

// let expand = document.querySelectorAll(".expand")

// expand[0].addEventListener("click",()=>{
//   if(expand[0].classList.contains("expanded"))
//   {
//       expand[0].classList.remove("expanded")
//   }else{
//       console.log("Not Contains")
//       expand[0].classList.add("expanded");
//   }
// })

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;

  menu {
    // position: sticky;
    // top: 0;
    .logo {
      height: 85px;
      background: rgb(245, 199, 199);
      // position: sticky;
      // top: 0;
    }
    .menu {
      height: 60px;
      background: rgb(154, 154, 218);
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .path {
      border: 2px solid red;
      height: 37px;
      margin: 10px 70px;
    }

    .hr-div {
      margin: 10px 70px;
    }

    .product {
      height: 70px;
      display: flex;
      justify-content: space-between;
      padding: 0px 70px 0 70px;
      position: sticky;
      // top: 143px;
      top: 0;
      background: white;
      // background: cornflowerblue;

      .titleBlock {
        padding-top: 10px;
        display: flex;
        align-items: flex-start;

        .title {
          font-size: 44px;
          letter-spacing: 0.5px;
          margin-right: 14px;
          font-weight: 900;
          color: #1c1c1c;
          text-shadow: 0 3px rgb(207, 206, 206);
        }

        .status {
          display: flex;
          align-items: flex-start;
          font-size: 16px;

          .active {
            color: #65923c;
            margin-right: 5px;
          }
          .last-time {
            color: #dd5c1b;
            margin-right: 5px;
          }
          .nrnd {
            color: #aa2220;
            margin-right: 5px;
          }
          .obsolete {
            color: #aa2220;
            margin-right: 5px;
          }

          .status-name {
            // border: 2px solid red;
            margin-right: 20px;
            text-transform: capitalize;
            font-size: 20px;
            font-family: Open Sans Semibold;
            color: #383838;
          }
        }
        .cart-status {
          display: flex;
          align-items: flex-start;
          font-size: 20px;
          // border: 2px solid red;

          .cart {
            color: #2a289d;
            margin-right: 5px;
          }
          .cart-status-name {
            font-family: Open Sans Semibold;
            color: #383838;
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 10px;
        transition: flex-direction ease-out 2s;

        button {
          width: 250px;
          margin: 5px 0 0px 20px;
          padding: 10px 40px 10px 20px;
          border: none;
          border-radius: 30px;
          background: #83d0fa;
          display: flex;
          align-items: center;
          min-height: 50px;
          max-height: 50px;
          cursor: pointer;
          position: relative;

          // .icon {
          //   padding: 7px 4px;
          //   margin-right: 10px;
          //   position: relative;

          //   img {
          //     position: absolute;
          //     left:9px;
          //     top: 16px;
          //     background: #1c1c1c;
          //     height: 12px;
          //     width: 12px;
          //     // z-index: 1;
          //   }
          // }

          svg{
            color: #1c1c1c;
            margin: 7px 4px;
            margin-right: 10px;
          }

          .btn-title {
            font-weight: 500;
            width: 170px;
            font-size: 16px;
          }
        }

        button.yellow {
          background: #ffca3e;
        }
        button.blue {
          background: #83d0fa;
        }
      }
    }
    .description {
      width: 70%;
      margin: 5px 70px;
      // border: 2px solid red;
      // height: 100px;

      p {
        font-size: 30px;
        line-height: 32px;
        color: #706f6f;
        font-family: Open Sans Semibold;
        font-weight: 600;
      }
    }
    .links {
      width: 70%;
      margin: 5px 70px;
      // border: 2px solid red;
      // height: 50px;
      display: flex;
      flex-wrap: wrap;

      .doc1 {
        display: flex;
        align-items: center;
        color: #2a289d;
        cursor: pointer;

        .pdf {
          margin-right: 5px;
        }
        .pdf-title {
          margin-right: 14px;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
    .notice {
      margin: 10px 70px 0 70px;

      .notice-list {
        background: #dd5c1b;
        margin-bottom: 20px;
        padding-top: 5px;
        background: rgba(221, 92, 27, 0.1);
        border-radius: 8px;
        padding: 10px 15px;
        border-left: 9px solid #dd5c1b;

        .warning {
          color: #dd5c1b;
          margin-right: 5px;
        }

        strong {
          color: #1c1c1c;
          font-weight: bold;
        }

        .notice-item {
          display: block;
          margin: 5px 0;
        }

        .notice-item a {
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.1px;
          color: #2a289d;
          font-weight: bold;
        }
      }
    }

    .shortLinks {
      // border: 2px solid blueviolet;
      // height: 39px;
      margin: 0;
      padding: 10px 70px;
      position: sticky;
      // top: 213px;
      top: 70px;
      background: white;

      ul {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        // border: 2px solid red;
        align-items: center;
        li {
          list-style: none;
          margin: 10px 0;
          a {
            text-decoration: none;
            margin-right: 10px;
            padding: 5px 15px;
            border-radius: 30px;
            text-transform: capitalize;
            font-weight: 500;
            color: #554f79;
            font-size: 16px;
            font-family: Open Sans semibold;
            letter-spacing: 0.1px;
            line-height: 24px;
          }
          a:hover {
            background: #554f79;
            color: white;
          }
          a.active {
            background: #554f79;
            color: white;
            // cursor: not-allowed;
          }
        }
      }
    }
    section {
      background: lightgray;
      height: 2838px;
      padding: 5px 50px;
      // margin: 20px 0;

      .overview {
        // border: 2px solid red;
        margin: 50px 0;
        height: 650px;
        background: white;
      }
      .documentation {
        margin: 50px 0;
        height: 650px;
        background: white;
      }
      .development {
        margin: 50px 0;
        height: 650px;
        background: white;
      }
    }
  }
}
